.table.ItemsTable > tbody > tr > td {
  padding: 0;
}

.table.ItemsTable > tbody > tr > td > a {
  display: block;
  padding: 10px;
}

.table.ItemsTable > tbody > tr > td > a:hover {
  text-decoration: none;
}
